<h1>Browse Photos and Videos</h1>
   
<% @media.each do |media| %>
  <div class='media_index_photo'>
    <li><%= image_tag media.image %></li>
    <li><%= media.run.name %></li>
  </div>

  <div class='media_index_video'>
    <li><%= video_tag media.video, :controls => true, :poster => "http://cdn3.coresites.mpora.com/skiunion/wp-content/uploads/2011/10/salomon-flash.jpg" %></li>
    <li><%= media.run.name %></li>
  </div>
<% end %>