<div data-width="100%"
    data-loop='true'
    data-fit='cover' 
    data-autoplay='true'
    class="fotorama">
  <img src="/assets/home4.png">
  <img src="/assets/home1.png">
  <img src="/assets/home2.png">
  <img src="/assets/home3.png">
  <img src="/assets/home5.png">
</div>

<div class='info'>
<p>
  Start the app as you leave your hotel and it tracks your movements during the day. When you get back in the evening you can see your fastest run, average speed, distance travelled and even changes in altitude.
</p>
</div>

<a data-remodal-target="modal">
  <div class='remodal-bg'>
    <h2>DISCOVER</h2>
    <br><br>
  </div>
</a>

<a data-remodal-target="modal1">
  <div class='remodal-bg'>
    <h2>UPLOAD</h2>
    <br><br>
  </div>
</a>

<a data-remodal-target="modal2">
  <div class='remodal-bg'>
    <h2>TRACK</h2>
    <br><br>
  </div>
</a>

<div class="remodal" data-remodal-id="modal">
    <h1>Discover</h1>
    <p>
      Discover what others have been be up to by browsing through relevant catagories. See what resorts have been tracked, scroll through all the runs or see whos been where.
    </p>
    <br>
    <a class="modal" href="/countries">Countries</a>
    <a class="modal" href="/resorts">Resorts</a>
    <a class="modal" href="/runs">Runs</a>
    <a class="modal" href="/user">Members</a>
</div>

<div class="remodal" data-remodal-id="modal1">
    <h1>Upload</h1>
    <p>
      Upload a GPX file to be transfered into onto and map a gradient profile of the run. Add photos and videos to your run, or to others if yours are better. 
    </p>
    <br>
    <a class="modal" href="/runs/new">Upload</a>
</div>

<div class="remodal" data-remodal-id="modal2">
    <h1>Track</h1>
    <p>
      Don't have GPX data? Take your mobile device with you and track as you go.
    </p>
    <br>
    <a class="modal" href="/track">Track</a>
</div>

