<div class='home'>
  <div class='home_info'>
    <h1>Discover</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In id fringilla nisi. Curabitur nisi lacus, suscipit quis mauris ac, aliquam suscipit ipsum.
    </p>
  </div>

  <div class='home_info'>
    <h1>Upload</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In id fringilla nisi. Curabitur nisi lacus, suscipit quis mauris ac, aliquam suscipit ipsum.
    </p>
  </div>

  <div class='home_info'>
    <h1>Share</h1>
    <p>
       Lorem ipsum dolor sit amet, consectetur adipiscing elit. In id fringilla nisi. Curabitur nisi lacus, suscipit quis mauris ac, aliquam suscipit ipsum.
    </p>
  </div>
</div>
