<p id="notice"><%= notice %></p>

<div class='media_show'>
  <%= image_tag @medium.image.detail.url if @medium.image.present? %>

  <%= (video_tag @medium.video, :controls => true, :autoplay => true) if @medium.video.present? %>
</div>

<p>
  <b>Run:</b>
  <%= link_to @medium.run.name, @medium.run %>
</p>



