$blue:  #2DB6CF;
$dark:  #444444;
$white: #FFFFFF;
$basecolor: #537BF7;
$orange: #de3c2d;


body {
  padding: 2% 0 2% 0; 
  background: $basecolor;
  color: #F8FFFF;
  font-family: 'Marmelad', sans-serif;
  /*background: complement($basecolor)*/
}

.main_content {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.info {
  color: $basecolor;
  background-color: #f9f9e8;
  padding: 2%;
  border-radius: 20px;
  border: solid $orange 5px;
  margin-top: 3%;
}

.remodal-bg {
  margin-top: 5%;
  background-color: $orange;
  display: inline-block;
  width: 32%;
  text-align: center;
  border-radius: 10px;
  &:hover{
    background-color: lighten($orange, 10%);
  };
  h2 {
    margin-top: 20%;
  }
}

.modal {
  border: 2px solid #16a085;
  background: #f4f4f4;
  color: #16a085;
  display: inline-block;
  width: 120px;
  padding: 9px 0;
  margin: 0 0 5px 0;
  font-size: 10pt;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background-clip: padding-box;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
    &:hover {
    text-decoration: none;
    background: #16a085;
    color: #f4f4f4;
    }
}


a {
  text-decoration: none;
  color: #F8FFFF;
}

a:hover {
  text-decoration: none;
}

tbody tr th, td {
    padding: 1%;
}


#country_list {
  border-right: 2px solid white;
  padding: 2%;
  float: left;
  width: 44%;
  input {
    width: 50%;
  }
}

#selected_country{
  /*border: 2px solid black;*/
  padding: 2%;
  float: right;
  width: 44%;
}

input, textarea { 
    border: 1px solid #848484; 
    -webkit-border-radius: 30px; 
    -moz-border-radius: 30px; 
    border-radius: 30px; 
    outline:0; 
    height:25px; 
    width: 275px; 
    padding-left:10px; 
    padding-right:10px; 
  } 

button {
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d1cbca), color-stop(1, #dfdfdf) );
  background:-moz-linear-gradient( center top, #d1cbca 5%, #dfdfdf 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1cbca', endColorstr='#dfdfdf');
  background-color:#d1cbca;
  -webkit-border-top-left-radius:6px;
  -moz-border-radius-topleft:6px;
  border-top-left-radius:6px;
  -webkit-border-top-right-radius:6px;
  -moz-border-radius-topright:6px;
  border-top-right-radius:6px;
  -webkit-border-bottom-right-radius:6px;
  -moz-border-radius-bottomright:6px;
  border-bottom-right-radius:6px;
  -webkit-border-bottom-left-radius:6px;
  -moz-border-radius-bottomleft:6px;
  border-bottom-left-radius:6px;
  text-indent:0;
  border:1px solid #dcdcdc;
  display:inline-block;
  color:#FF706A;
  font-family:arial;
  font-size:15px;
  font-weight:bold;
  font-style:normal;
  height:50px;
  line-height:50px;
  width:100px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #ffffff;
}
button:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
  background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
  background-color:#dfdfdf;
}button:active {
  position:relative;
  top:1px;
  }