$blue:  #2DB6CF;
$dark:  #444444;
$white: #FFFFFF;
$basecolor: #537BF7;
$orange: #de3c2d;
$offwhite: #f9f9e8;


body {
  padding: 2% 0 2% 0; 
  background: $basecolor;
  color: $offwhite;
  font-family: 'Marmelad', sans-serif;
}

.main_content {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
}

.pagination a:hover {
  text-decoration: underline;
}

.info {
  color: $basecolor;
  background-color: $offwhite;
  padding: 2%;
  border-radius: 20px;
  border: solid $orange 5px;
  margin-top: 3%;
}

.remodal-bg {
  margin-top: 5%;
  background-color: $orange;
  display: inline-block;
  width: 32%;
  text-align: center;
  border-radius: 10px;

  &:hover{
    background-color: lighten($orange, 10%);
  };
  h2 {
    margin-top: 20%;
  }
}

.remodal {
  background-color: $offwhite;
    p, h1 {
      color: $orange;
    }
  }

.modal {
  border: 2px solid $orange;
  background: $offwhite;
  color: $orange;
  display: inline-block;
  width: 120px;
  padding: 9px 0;
  margin: 0 0 5px 0;
  font-size: 10pt;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background-clip: padding-box;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
    &:hover {
    text-decoration: none;
    background: $orange;
    color: white;
    }
}

#mobile_modal {
  visibility: hidden;
}


a {
  text-decoration: none;
  color: #F8FFFF;
}

a:hover {
  text-decoration: none;
}

tbody th {
  text-decoration: underline;
}

tbody tr th, td {
    padding: 3% 3% 0 0 ;
    width: 1%;
    text-align: left;
    a:hover {
      text-decoration: underline;
    }
}


#country_list {
  border-right: 2px solid white;
  padding: 2%;
  float: left;
  width: 44%;
  input {
    width: 50%;
  }
}

#selected_country{
  /*border: 2px solid black;*/
  padding: 2%;
  float: right;
  width: 44%;
}

input, textarea { 
    border: none; 
    -webkit-border-radius: 30px; 
    -moz-border-radius: 30px; 
    border-radius: 30px; 
    outline:0; 
    height:25px; 
    width: 50%; 
    padding-left:10px; 
    padding-right:10px; 
  } 

#remember #user_remember_me {
  margin: 1% 0 1% 0;
  width: 50px;
}

.description textarea {
  height: 200px
}

form div {
  padding-top: 1%;
}

/* The submit buttons in a form */
.actions input {
  background-color: white;
  width: 10%;
}


/* The general buttons navigating between pages */
  button {
    border-radius: 10px;
    background-color: white;
    padding: 1%;
    a {
      color: $basecolor;
    }
  }

  button:hover {
     border: solid 2px white;
     background-color: $basecolor;
     a {
      color: white;
     }
  }

  #user {
    list-style: none;
    padding-top: 2%;
  }