.media_index_photo {
  list-style: none;
  float: left;
  width: 49.5%;
  margin-left: 2px;
  img, video {
    width: 100%;
    height: auto;
    filter: graysale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
  }
  img:hover {
     filter: sepia(0%);
    -webkit-filter: sepia(0%);
    -moz-filter: sepia(0%);
    -o-filter: sepia(0%);
    -ms-filter: sepia(0%);
  }
}

.media_show {
  width: 100%;
  video {
    width: 100%;
    height: auto;
  }
}
