.media_index_photo {
  list-style: none;
  float: left;
  width: 33.3%;
  img, video {
    margin-top: -18px;
    width: 100%;
    height: auto;
  }
}

.media_show {
  width: 100%;
  video {
    width: 100%;
    height: auto;
  }
}
