$basecolor: #537BF7;
$orange: #de3c2d;

.media_show img, video {
  width: 100%;
  height: auto;
}

.box {
  margin: 5px;
  padding: 5px;
  background: $orange;
  font-size: 11px;
  line-height: 1.4em;
  float: left;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

#user_remember_me {
  
}


.col1 { width: 80px; }
.col2 { width: 180px; }
.col3 { width: 280px; }
.col4 { width: 380px; }
.col5 { width: 480px; }

.col1 img { max-width: 80px;
-webkit-filter: sepia(100%);
  &:hover{
    -webkit-filter: saturate(150%);
    }
 }

.col2 img { max-width: 180px;
-webkit-filter: sepia(100%);
  &:hover{
    -webkit-filter: saturate(150%);
    }
 }

.col3 img { max-width: 280px;
-webkit-filter: sepia(100%);
  &:hover{
    -webkit-filter: saturate(150%);
    }
 }

.col4 img { max-width: 380px;
-webkit-filter: sepia(100%);
  &:hover{
    -webkit-filter: saturate(150%);
    }
 }

.col5 img { max-width: 480px;
-webkit-filter: sepia(100%);
  &:hover{
    -webkit-filter: saturate(150%);
    }
 }


.col1 video { max-width: 80px;
-webkit-filter: sepia(100%);
  &:hover{
    -webkit-filter: saturate(150%);
    }
 }

.col2 video { max-width: 180px;
-webkit-filter: sepia(100%);
  &:hover{
    -webkit-filter: saturate(150%);
    }
 }

.col3 video { max-width: 280px;
-webkit-filter: sepia(100%);
  &:hover{
    -webkit-filter: saturate(150%);
    }
 }

.col4 video { max-width: 380px;
-webkit-filter: sepia(100%);
  &:hover{
    -webkit-filter: saturate(150%);
    }
 }

.col5 video { max-width: 480px;
-webkit-filter: sepia(100%);
  &:hover{
    -webkit-filter: saturate(150%);
    }
 }
