
.resort {
  li {
    list-style: none;
  }
}

.resort_header {
    h2 {
      font-size: 50px;
      text-align: right;
    }
    p {
      float: right;
    }
  }

#weather {
  width: 50%;
  float: left;
}

 #hourlyWeather {
  width: 50%;
  float: right;
  text-align: right;
  img {
    width: 20%;
    float: right;
  }
}

#resort_image {
  img {
  width: 100%;
  height: auto;
  padding: 2% 0 2% 0;
  }
}

.run_list {
  column-count: 3;
}