$basecolor: #537BF7;

/* index page of resorts*/
.resort_index {
  vertical-align: top;
  width: 23%;
  margin: 1% 0 1% 1%;
  display: inline-block;
  img {
    width: 100%;
    height: auto;
  }
}


/*show pages for a resort*/
.resort {
  li {
    list-style: none;
  }
  .resort_runs {
    list-style: disc;
    padding: 1% 0 0 0;
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
  }
}

.pagination span {
  padding-right: 2%;
  a:hover {
    text-decoration: underline;
  }
}

.resort_header {
    h2 {
      font-size: 50px;
      text-align: right;
      margin-bottom: 1%;
    }
    p {
      margin:1% 0 1% 0;
      float: right;
      font-size: 20px;
    }
  }

#weather {
  width: 50%;
  float: left;
  padding-bottom: 1%;
}

 #hourlyWeather {
  width: 50%;
  float: right;
  text-align: right;
  img {
    padding-top: 1%;
    width: 20%;
    float: right;
  }
}

#resort_image {
  img {
  width: 100%;
  height: auto;
  padding: 2% 0 2% 0;
  }
}

.run_list {
  column-count: 3;
}