$basecolor: #537BF7;

.resort {
  li {
    list-style: none;
  }
  p:first-child {
    
  }
}

.pagination span {
  padding-right: 2%;
  a:hover {
    text-decoration: underline;
  }
}

.resort_header {
    h2 {
      font-size: 50px;
      text-align: right;
      margin-bottom: 1%;
    }
    p {
      margin:1% 0 1% 0;
      float: right;
      font-size: 20px;
    }
  }

#weather {
  width: 50%;
  float: left;
}

 #hourlyWeather {
  width: 50%;
  float: right;
  text-align: right;
  img {
    width: 20%;
    float: right;
  }
}

#resort_image {
  img {
  width: 100%;
  height: auto;
  padding: 2% 0 2% 0;
  }
}

.run_list {
  column-count: 3;
}