.run_info td {
  border-right: solid black 2px;
}

.run_details {
  right: 7%;
  width: 24%;
  /*border: 2px solid black;*/
  /*padding: 1%;*/
  position: absolute;
  h2 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 0;
  }
  a:hover {
    text-decoration: underline;
  }
}

#map_canvas {
  width: 70%;
  height: 500px;
  float: left;
}

.media {
  margin-top: 2%;
  width: 70%;
  padding-bottom: 2%;
   img {
    width: 48%;
    height: auto;
    /*padding: 2% 2% 0 0;*/
   }
   video {
    width: 48%;
    }
}


.geo_data {
  position: relative;
}

.graph {
  margin: 0 auto 0 auto;
    path {
    stroke: white;
    stroke-width: 2;
    fill: none;
    }
 
    line {
        stroke: white;
        stroke-width: 2;
    }
     
    text {
        /*font-family: Arial;*/
        font-size: 10;
        color: white;
    }
}

#comments {
  textarea {
    width: 63%;
  }
  li {
    list-style: none;
  }
}


/* delete a comment button */
#comments, button {
    margin-top: 10px;
    margin-right: 20px;
  }