<h1>Track A New Run</h1>

  <div class="geo_data">
    <p>Name: </p> 
    <input id="name">
    <br />
    <p>Description: </p> 
    <input id="description" type="textarea">
    <br />
    <p>Rating: </p>
    <input id="rating" type="number">
    <br /> 
    <p>Resort: </p>
    <input id="resort">
  </div>

<p><button id='track' onclick="create()">Create Run</button></p>
<p><button onclick="geoFindMe()">Start Tracking</button></p>
<div id="output"></div>
<button onclick="clearWatch()">Stop Tracking</button>

<div id='segmentId'></div>

<div id='runId'></div>

