<h1>Track A New Run</h1>
  <form name='trackingForm' class="geo_data">
    <p id='userId' style='display:none'><%= if current_user.present? then current_user.id else "Unregistered Member" end %></p>
    <p>Name: </p> 
    <input id="name" name='name'>
    <br />
    <p>Description: </p> 
    <input id="description" type="textarea">
    <br />
    <p>Rating: </p>
    <input id="rating" name='rating' type="number" style='width:50px' required>
    <br /> 
    <p>Resort: </p>
    <div id="resort"><%= collection_select :resort, :id, Resort.order("name ASC"), :id, :name %></div>
  </form>

<br />
<button id='track' onclick="checkForm()">Create Run</button> <button onclick="geoFindMe()" style='display:none' id='start_tracking'>Start</button> <button onclick="clearWatch()" style='display:none' id='stop_tracking'>Stop</button>
<div id="output"></div>