<h1>Track Run</h1>

<p><%= @run %></p>
<p><%= @segment %></p>

  <div class="geo_data">
    <button onclick="geoFindMe()">Start Tracking</button>
    <button onclick="clearWatch()">Stop Tracking</button>
    <div id="output"></div>
  </div>