<h1>Track A New Run</h1>

  <div class="geo_data">
    <p>Name: </p> 
    <input id="name">
    <br />
    <p>Description: </p> 
    <input id="description" type="textarea">
    <br />
    <p>Rating: </p>
    <input id="rating" type="number" style='width:50px'>
    <br /> 
    <p>Resort: </p>
    <div id="resort"><%= collection_select :resort, :id, Resort.all, :id, :name %></div>
  </div>

<br />
<button id='track' onclick="create()">Create Run</button> <button onclick="geoFindMe()">Start Tracking</button> <button onclick="clearWatch()">Stop Tracking</button>
<div id="output"></div>