<ul class="navigation">
  <li class="nav-item"><%= link_to "Home", root_path %></li>
  <li class="nav-item"><%= link_to "Members", countries_path %></li>
  <li class="nav-item"><%= link_to "Countries", countries_path %></li>
  <li class="nav-item"><%= link_to "Resorts", resorts_path %></li>
  <li class="nav-item"><a href="#">My Account</a></li>
</ul>

<input type="checkbox" id="nav-trigger" />
<label for="nav-trigger"></label>